#contact-title {
    font-size:3.3rem;
    text-align: center; 
    font-family:"Lora", sans-serif;
    margin-bottom: 3px;
    /* font-weight:500; */
}

label {
    font-family:"Work Sans", sans-serif;
    font-size: 1.6rem;
}

.contact-form-input {
    height: 1.6rem;
    font-family:"Lora", sans-serif;
    font-size: 1.2rem;
    padding: 2px 4px;
    font-weight:300;
    margin-bottom: 15px;
    margin-top: 2px;
    box-shadow: 0px 1px 5px rgb(162, 162, 162);
}

#contact-message {
    height: 10rem;
}