.container {
    background: linear-gradient(3deg, rgba(100,191,253,0.3) 0%, rgba(254,203,71,0.3) 30%, rgba(255,255,255,1) 100%);
    overflow-wrap: break-word;
    hyphens: manual;
}

.section {
    margin-bottom: 100px;
}

.button {
    margin: 20px 0px;
    width: 100%; 
    background-color: #000;
    color: #fff; 
    border: 0px; 
    padding: 25px; 
    font-size: 1.5rem; 
    font-family: "Work Sans", sans-serif;
    transition: transform .2s;
}

.skill-box {
    margin: 13px;
    width: max-content; 
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center; 
    border-radius: 10px; 
}

.skill-text {
    padding: 4px;
    text-align: center;
    font-size: 1rem;
    font-family: "Work sans", sans-serif !important;
}

.tech-stack-img {
    width: 100%;
    height: 100%;
    max-height: 90px;
    max-width: 90px;
    margin: 10px;
    transition: transform .2s;
}

.tech-stack-img:hover {
    transform: scale(1.2);

}

.testimonial-img {
    width: 220px; 
    height: 220px; 
    border-radius: 50%; 
    object-fit: cover; 
    margin:20px;
    /* box-shadow: 2px 2px 7px #444; */
    /* box-shadow: 10px 10px 2px rgb(254, 203, 71); */
}

.testimonial-img-even {
    box-shadow: 10px 10px 2px rgb(100, 191, 253);
}

.testimonial-img-odd {
    box-shadow: 10px 10px 2px rgb(254, 203, 71);
}

.button:hover {
    background-color:rgba(0,0,0,0.6) !important;
    transform: scale(1.05);
}

/* @media (min-width: 576px) {
    #education-box {
        flex-direction: row;
    }
} */

.education-img {
    height: 150px;
    padding: 15px;
}

.home-subtitle {
    font-size: 2rem !important;
    margin-bottom: 40px !important;
    text-align: center; 
    font-family: "Lora", sans-serif !important; 
}


.testimonial-text {
    font-size: 1.4rem !important;
    font-family: "Work Sans", sans-serif !important;
}

@media (max-width: 700px) {
    .education-img {
        height: 120px;
    }
}

/* Phones */
@media (max-width: 576px) {
    #home-title {
        font-size: 2.3rem;
    }

    .section {
        margin-bottom: 50px;
    }

    #heading-subtitle {
        font-size:1.2rem;
    }

    .home-subtitle {
        font-size: 1.5rem !important;
        margin-bottom: 20px !important;
    }

    #education-box {
        flex-direction: column; 
        width:100%;
    }

    .education-img {
        height: 70px;
        padding: 10px;
    }

    .skill-box {
        margin: 8px;
        width: max-content; 
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: center; 
        border-radius: 10px; 
    }

    .skill-text {
        padding: 2px;
        font-size: .8rem !important;
    }

    .smiley {
        width: 15px;
        margin-right: 2px;
    }

    .tech-stack-img {
        width: 100%;
        height: 100%;
        max-height: 50px;
        max-width: 50px;
    }

    .testimonial {
        flex-direction:column !important;
        align-items:center;
    }

    .testimonial-img {
        width: 110px; 
        height: 110px; 
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .testimonial-text {
        font-size: 1.1rem !important;
    }

    .testimonial-img-even {
        box-shadow: 7px 7px 2px rgb(254, 203, 71);
    }
    
    .testimonial-img-odd {
        box-shadow: 7px 7px 2px rgb(100, 191, 253);
    }
}